<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Cibertec HIB</title>
    <link href="../css/estilos_gestion.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
  <!-- Menú - Barra superior  -->
  <div th:replace="header_fragment :: header"></div>
    <div id="contenedor">
      <section>
        	<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<h3>Nuevo Cliente</h3>
				</div>
			</nav>

       <div class="card">
		<div class="card-body">
			<form th:action="@{/crud_ejecutar_crear_cliente}" th:object="${PaqueteC}" method="post">
				<div>
					<label class="form-label">Ruc | Dni</label>
					<input type="text" class="form-control" th:field="*{rucdni}" >
				</div>
				<div>
					<label class="form-label"> Razón Social | Nombre </label>
					<input type="text" class="form-control" th:field="*{razonsocial}" >
					<small class="form-text text-danger" th:if="${#fields.hasErrors('razonsocial')}" th:errors="*{razonsocial}"></small>
										
				</div>
				<div>
					<label class="form-label">Dirección</label>
					<input type="text" class="form-control" th:field="*{direccion}">
				</div>
				<div>
					<label class="form-label">Teléfono</label>
					<input type="text" class="form-control" th:field="*{celular}">
				</div>
				<input type="submit" class="btn btn-primary mt-2" value="Crear Cliente">
			</form>
		</div>
	</div>
       
       
       
    </section>
      
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>