
<header>
    <!-- Menú - Barra superior  -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff8400;">
        <img src="/imagenes/logo_nav.png" alt="" />
        <a class="navbar-brand" th:href="@{listar_Ctrl_Reposicion}">Abast.Co</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{listar_Ctrl_Reposicion}">Gestion de Reposiciones </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{comprasProductos}">Compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{ventaProductos}">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{crud_Clientes?page=0&size=10}">Clientes</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{crud_Proveedores}">Proveedores</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{crud_Productos}">Productos</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-dark" type="submit" th:href="@{autentificar}">
                    <a class="nav-link" th:href="@{autentificar}">Cerrar sesión</a>
                </button>
            </form>
        </div>
    </nav>
</header>
